<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Savings Bank - Accounts</title>
    <link rel="shortcut icon" href="../images/Favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../style/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body class="bg-body-tertiary">
    <div id="app" v-cloak>
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid d-flex justify-content-between">
                    <div>
                        <a class="nav-burger" href="" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight1"
                            aria-controls="offcanvasRight1"><button class="navbar-toggler" type="button"
                                data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                                aria-controls="navbarTogglerDemo03" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button></a>
                    </div>
                    <a class="navbar-brand" href="../../accounts.html"><img src="../images/Logo.png" alt="Logo"
                            height="80" class="d-inline-block align-text-top">
                    </a>
                    <div style="display: flex; flex-direction: column; align-items: end;">
                        <a href=""><svg @click.prevent="logout()" style="color: rgb(7, 25, 82); cursor: pointer;"
                                xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z" />
                                <path fill-rule="evenodd"
                                    d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z" />
                            </svg></a>
                        <a class="nav-link" @click.prevent="logout()" style="font-size: 0.9rem !important;">Log Out</a>
                    </div>
                </div>
            </nav>

            <div class="offcanvas offcanvas-start div-off-me" data-bs-scroll="true" tabindex="-1" id="offcanvasRight1"
                aria-labelledby="offcanvasRightLabel1">
                <div class="offcanvas-body d-flex flex-column gap-2">
                    <div class="d-flex justify-content-end">
                        <button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="offcanvas"></button>
                    </div>
                    <div>
                        <a class="nav-link" aria-current="page" href="../../accounts.html">Accounts</a>
                        <a class="nav-link" href="./transfers.html">Transfers</a>
                        <a class="nav-link" href="#">Cards</a>
                        <a v-if="email.includes('savingsbank')" class="nav-link" href="../../../administrator/assets/pages/loans.html">Loans admin</a>
                        <a v-if="email.includes('savingsbank')" class="nav-link" href="../../../administrator/manager.html">Manager</a>
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-expand-lg nav-general">
                <div class="collapse navbar-collapse d-flex justify-content-around div-nav-a" id="navbarNav">
                    <a class="nav-link" aria-current="page" href="../../accounts.html">Accounts</a>
                    <a class="nav-link" href="./transfers.html">Transfers</a>
                    <a class="nav-link" href="./cards.html">Cards</a>
                    <a v-if="email.includes('savingsbank')" class="nav-link" href="../../../administrator/assets/pages/loans.html">Loans admin</a>
                    <a v-if="email.includes('savingsbank')" class="nav-link" href="../../../administrator/manager.html">Manager</a>
                </div>
            </nav>

        </header>
        <main class="mainAccounts">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="../images/Banner1.png" class="d-block w-100 carous-img" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../images/Banner2.png" class="d-block w-100 carous-img" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="../images/Banner3.png" class="d-block w-100 carous-img" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <h2 style="font-size: 3rem; text-align: center; padding-top: 0.5rem; color: rgb(53, 162, 159);">Your cards
            </h2>
            <div>
            <div class="d-flex justify-content-around flex-column gap-5" style="padding: 1rem; margin-bottom: 3rem;">
                <div class="d-flex flex-column flex-wrap">
                    <h3 class="h3-cards" style="margin: 1rem; font-size: 2rem !important;">Debit Cards</h3>
                    <div class="container-ext d-flex gap-5 flex-wrap">
                        <div v-if="debitCards.length !== 0" class="card-ext" v-for="card of debitCards">
                            <h6 style="color: black;" v-if="card.thruDate < currentDate.toLocaleDateString()">This card is expired</h6>
                            <div class="card-inner-ext" style="margin: 0.5rem;">
                                <div class="front-ext" :class="{
                                'card-gold-front': card.color === 'GOLD',
                                'card-silver-front': card.color === 'SILVER',
                                'card-titanium-front': card.color === 'TITANIUM'}">
                                    <img src="../images/mapa-mundial.png" style="object-position: center;"
                                        class="map-img-ext">
                                    <div class="row-ext">
                                        <img src="../images/chip-tarjeta.png" style="height: 3rem;">
                                        <div class="d-flex flex-column align-items-end">
                                            <img src="../images/logo-visa.png" style="height: 2rem;">
                                            <p>Debit</p>
                                        </div>
                                    </div>
                                    <div class="row-ext card-no-ext ">
                                        <p style="letter-spacing: 2px;">{{card.number}}</p>
                                    </div>
                                    <div class="row-ext card-holder-ext  text-align-center">
                                        <p>CARD HOLDER</p>
                                        <p>VALID FROM</p>
                                        <p>GOOD THRU</p>
                                    </div>
                                    <div class="row-ext name-ext text-align-center">
                                        <p>{{card.cardHolder}}</p>
                                        <p>{{card.fromDate}}</p>
                                        <p>{{card.thruDate}}</p>
                                    </div>
                                </div>
                                <div class="back-ext" :class="{
                                'card-gold-back': card.color === 'GOLD',
                                'card-silver-back': card.color === 'SILVER',
                                'card-titanium-back': card.color === 'TITANIUM'}">
                                    <img src="../images/mapa-mundial.png" style="object-position: center;"
                                        class="map-img-ext">
                                    <div class="bar-ext"></div>
                                    <div class="row-ext card-cvv-ext">
                                        <div>
                                            <img src="../images/rectangulo-blanco.png"
                                                style="height: 2.5rem; object-fit: cover;">
                                        </div>
                                        <p>{{card.cvv}}</p>
                                    </div>
                                    <div class="row-ext card-text-ext">
                                        <p>CUSTOMER SIGNATURE</p>
                                    </div>
                                    <div class="row-ext signature-ext">
                                        <p>VISA service center (54 11) 43793434</p>
                                        <img src="../images/logo-visa.png" style="height: 1.5rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a class="button-card" @click="deleteCard(card.id)" v-model="cardId"
                                    style="font-size: 0.8rem !important; padding: 0.3rem !important;">Delete Card</a>
                            </div>
                        </div>
                        <div v-else style="display: flex; flex-direction: column; align-items: center;">
                            <h6>You don't have a debit card</h6>
                        </div>
                    </div>
                </div>
            
                <div class="d-flex flex-column flex-wrap">
                    <h3 class="h3-cards" style="margin: 1rem; font-size: 2rem !important;">Credit Cards</h3>
                    <div class="container-ext d-flex gap-2 flex-wrap">
                        <div v-if="creditCards.length !== 0" class="card-ext" v-for="card of creditCards">
                            <h6 style="color: black;" v-if="card.thruDate < currentDate.toLocaleDateString()">This card is expired</h6>
                            <div class="card-inner-ext" style="margin: 0.5rem;">
                                <div class="front-ext" :class="{
                                'card-gold-front': card.color === 'GOLD',
                                'card-silver-front': card.color === 'SILVER',
                                'card-titanium-front': card.color === 'TITANIUM'}">
                                    <img src="../images/mapa-mundial.png" style="object-position: center;"
                                        class="map-img-ext">
                                    <div class="row-ext">
                                        <img src="../images/chip-tarjeta.png" style="height: 3rem;">
                                        <div class="d-flex flex-column align-items-end">
                                            <img src="../images/logo-visa.png" style="height: 2rem;">
                                            <p>Credit</p>
                                        </div>
                                    </div>
                                    <div class="row-ext card-no-ext ">
                                        <p style="letter-spacing: 2px;">{{card.number}}</p>
                                    </div>
                                    <div class="row-ext card-holder-ext text-align-center">
                                        <p>CARD HOLDER</p>
                                        <p>VALID FROM</p>
                                        <p>GOOD THRU</p>
                                    </div>
                                    <div class="row-ext name-ext text-align-center">
                                        <p>{{card.cardHolder}}</p>
                                        <p>{{card.fromDate}}</p>
                                        <p>{{card.thruDate}}</p>
                                    </div>
                                </div>
                                <div class="back-ext" :class="{
                                'card-gold-back': card.color === 'GOLD',
                                'card-silver-back': card.color === 'SILVER',
                                'card-titanium-back': card.color === 'TITANIUM'}">
                                    <img src="../images/mapa-mundial.png" style="object-position: center;"
                                        class="map-img-ext">
                                    <div class="bar-ext"></div>
                                    <div class="row-ext card-cvv-ext">
                                        <div>
                                            <img src="../images/rectangulo-blanco.png"
                                                style="height: 2.5rem; object-fit: cover;">
                                        </div>
                                        <p>{{card.cvv}}</p>
                                    </div>
                                    <div class="row-ext card-text-ext">
                                        <p>CUSTOMER SIGNATURE</p>
                                    </div>
                                    <div class="row-ext signature-ext">
                                        <p>VISA service center (54 11) 43793434</p>
                                        <img src="../images/logo-visa.png" style="height: 1.5rem;">
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <a class="button-card" @click="deleteCard(card.id)" v-model="cardId"
                                    style="font-size: 0.8rem !important; padding: 0.3rem !important;">Delete Card</a>
                            </div>
                        </div>
                        <div v-else style="display: flex; flex-direction: column; align-items: center;">
                            <h6>You don't have a credit card</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <a href="./create-card.html" type="button" class="button-card"
                    style="background-color: rgb(53, 162, 159); margin: 5rem; font-size: 1.3rem !important;">Create
                    Card</a>
            </div>
        </main>
        <footer>
            <nav class="navbar navbar-expand-lg container-fluid d-flex justify-content-between nav-footer">
                <div class="imag" style="padding: 1rem;">
                    <a class="icon-link" href="https://www.facebook.com/">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#box-seam"></use>
                        </svg>
                        <img class="img-footer" src="../images/facebook.png" alt="facebook">
                    </a>
                    <a class="icon-link" href="https://www.instagram.com">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#box-seam"></use>
                        </svg>
                        <img class="img-footer" src="../images/instagram.png" alt="instagram">
                    </a>
                    <a class="icon-link" href="https://web.whatsapp.com/">
                        <svg class="bi" aria-hidden="true">
                            <use xlink:href="#box-seam"></use>
                        </svg>
                        <img class="img-footer" src="../images/whatsapp.png" alt="whatsapp">
                    </a>
                </div>
                <a href="../../../index.html"><img src="../images/Favicon.png" alt="logo" height="50"></a>
                <p class="p-footer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-c-circle" viewBox="0 0 16 16">
                        <path
                            d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z" />
                    </svg> Savings Bank (Mindhub) - Alochis Ariana</p>
            </nav>
        </footer>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../js/cards.js"></script>
</body>

</html>