<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Savings Bank - Log In</title>
  <link rel="shortcut icon" href="../images/Favicon.png" type="image/x-icon">
  <link rel="stylesheet" href="../style/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <div id="app" v-cloak>
    <nav class="navbar navbar-expand-lg nav-general">
      <div class="collapse navbar-collapse d-flex justify-content-around div-nav-a" id="navbarNav">
        <a class="nav-link active" style="color: rgb(18, 46, 137);" aria-current="page"
          href="../../../index.html">Home</a>
        <a class="nav-link" style="color: rgb(18, 46, 137);" href="#register">BECOME A CLIENT!</a>
      </div>
    </nav>

    <div class="content">
      <div class="container" style="margin-top: 3rem;">
        <div class="d-flex flex-wrap justify-content-around">
          <div style= "width:50%; height: auto;">
            <img src="../images/foto-login.png" style="height: 100%; object-fit: contain; object-position: center;"
              alt="Image" class="img-fluid">
          </div>
          <div class="d-flex flex-column align-items-center" style="width: 30rem; margin: 1rem;">
            <div class="col-md-6 contents">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <div class="mb-4">
                    <h3>Sign In</h3>
                  </div>
                  <form action="#" method="post">
                    <div class="form-group first">
                      <label for="username">Email</label>
                      <input type="email" class="form-control" id="username" v-model="email" @keyup.enter="login()"
                        required>
                    </div>
                    <div class="form-group last mb-4">
                      <label for="password">Password</label>
                      <input type="password" class="form-control" id="password" v-model="password"
                        @keyup.enter="login()" required>
                    </div>
                    <div v-if="errorStatus === 401" class="alert alert-warning" role="alert">
                      {{errorMessage}}
                    </div>
                    <div class="d-flex justify-content-around">
                      <input @click.prevent="login()" style="background-color: rgb(53, 162, 159); border: none;"
                        type="button" value="Log In" class="btn btn-block btn-primary">

                      <input @click.prevent="toggleRegisterForm()"
                        style="background-color: aliceblue; color: rgb(53, 162, 159); border: none;" type="button"
                        value="Our register here!" class="btn btn-block btn-primary" v-if="!showRegisterForm">
                    </div>
                  </form>
                </div>
              </div>

            </div>

            <div v-if="showRegisterForm" id="register" class="row justify-content-center" style="padding: 2rem;">
              <div class="col-md-12">
                <h5 class="d-block text-left my-4 text-muted" style="color: rgb(53, 162, 159)!important;">Register
                  here!</h5>
                <form action="#" method="post">
                  <div class="form-group first">
                    <label for="firstName">First name</label>
                    <input type="text" class="form-control" id="firstName" v-model="firstName" required>
                  </div>
                  <div class="form-group last mb-4">
                    <label for="lastName">Last name</label>
                    <input type="text" class="form-control" id="lastName" v-model="lastName" required>
                  </div>
                  <div class="form-group last mb-4">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" v-model="emailRegister" required>
                  </div>
                  <div class="form-group last mb-4">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" v-model="passwordRegister"
                      @keyup.enter="register()" required>
                  </div>
                  <div v-if="errorRegister" class="alert alert-warning" role="alert">
                    {{errorRegister}}
                  </div>
                  <input @click.prevent="register()" @keyup.enter="register()"
                    style="background-color: rgb(53, 162, 159); border: none;" type="button" value="Register"
                    class="btn btn-block btn-primary">

                </form>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
    <footer>
      <nav class="navbar navbar-expand-lg container-fluid d-flex justify-content-between nav-footer">
        <div class="imag">
          <a class="icon-link" href="https://www.facebook.com/">
            <svg class="bi" aria-hidden="true">
              <use xlink:href="#box-seam"></use>
            </svg>
            <img class="img-footer" src="../images/facebook.png" alt="facebook">
          </a>
          <a class="icon-link" href="https://www.instagram.com">
            <svg class="bi" aria-hidden="true">
              <use xlink:href="#box-seam"></use>
            </svg>
            <img class="img-footer" src="../images/instagram.png" alt="instagram">
          </a>
          <a class="icon-link" href="https://web.whatsapp.com/">
            <svg class="bi" aria-hidden="true">
              <use xlink:href="#box-seam"></use>
            </svg>
            <img class="img-footer" src="../images/whatsapp.png" alt="whatsapp">
          </a>
        </div>
        <a href="../../../index.html"><img src="../images/Favicon.png" alt="logo" height="50"></a>
        <p class="p-footer"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-c-circle" viewBox="0 0 16 16">
            <path
              d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0ZM8.146 4.992c-1.212 0-1.927.92-1.927 2.502v1.06c0 1.571.703 2.462 1.927 2.462.979 0 1.641-.586 1.729-1.418h1.295v.093c-.1 1.448-1.354 2.467-3.03 2.467-2.091 0-3.269-1.336-3.269-3.603V7.482c0-2.261 1.201-3.638 3.27-3.638 1.681 0 2.935 1.054 3.029 2.572v.088H9.875c-.088-.879-.768-1.512-1.729-1.512Z" />
          </svg> Savings Bank(Mindhub) - Alochis Ariana</p>
      </nav>
    </footer>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
    </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script type="module" src="../js/login.js"></script>
</body>

</html>