* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

:root {
    --color1: rgb(7, 25, 82);
    --color2: rgb(11, 102, 106);
    --color3: rgb(53, 162, 159);
    --color4: rgba(139, 246, 228, 0.546);
}

[v-cloak] {
    display: none !important;
}

.mainAccounts {
    min-height: 60vh;

}

h1 {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
    color: var(--color1) !important;
}

.h3-cards {
    text-align: center;
    padding-top: 1rem;
    color: var(--color1) !important;
}

.nav-general {
    background-color: var(--color4);
    flex-direction: row !important;
}

a {
    font-size: 1.2rem !important;
    font-weight: 700 !important;
    color: var(--color1) !important;
}

a:hover {
    transform: scale(1.1);
}

.nav-link:hover {
transform: none;
cursor: pointer;
}

.nav-footer {
    background-color: var(--color4);
}

.p-footer {
    padding-top: 1rem;
    padding-right: 1rem;
}

.img-footer {
    width: 2rem;
    border-radius: 0.5rem;
}

.img-footer:hover {
    transform: scale(0.8);
}

.container-Account-Table {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    flex-wrap: wrap;
}

tr.debit td {
    background-color: rgb(243, 206, 206) !important;
}

tr.credit td {
    background-color: rgb(205, 239, 208) !important;
}

.button-card {
    text-decoration: none;
    color: aliceblue !important;
    background-color: var(--color1);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 1.1rem !important;
}

.button-card:hover {
    transform: scale(1.04);
}

.container-img-body {
    box-shadow: 2px 2px 3px 1px rgb(152, 150, 150) !important;
}

.image-card-me {
    min-height: 100%;
    min-width: 100%;
}

.div-off-me {
    width: 12rem !important;
    background-color: rgba(139, 246, 228, 0.758) !important;
}

.div-off-profile-me {
    width: 17rem !important;
    background-color: rgba(7, 25, 82, 0.907) !important;
}

table {
    text-align: center !important;
}

.button-loans {
    width: 20rem !important;
    height: 4rem !important;
    background-color: var(--color3) !important;
    border: none !important;
    color: aliceblue !important;
    font-size: 1.4rem !important;
    font-weight: 700 !important;
    text-shadow: 2px 2px 2px var(--color1) !important;
    box-shadow: 2px 2px 3px 1px rgb(152, 150, 150) !important;
    cursor: pointer;
}

.button-loans:hover {
    transform: scale(1.04);
}

.card-loans {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@import url('https://fonts.googleapis.com/css2?family=josefin+Sans:wght@400;500;600;700&display=swap');

.container-ext {
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-ext {
    width: 450px;
    height: 250px;
    color: #fff;
    cursor: pointer;
    perspective: 1000px;
}

.card-inner-ext {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-gold-front,
.card-gold-back {
    width: 100%;
    height: 100%;
    background: rgb(195, 115, 34);
    background: linear-gradient(0deg, rgba(195, 115, 34, 1) 0%, rgba(253, 247, 45, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.card-silver-front,
.card-silver-back {
    width: 100%;
    height: 100%;
    background: rgb(82, 78, 78);
    background: linear-gradient(0deg, rgba(82, 78, 78, 1) 0%, rgba(221, 220, 216, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.card-titanium-front,
.card-titanium-back {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(97, 97, 110, 1) 100%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 30px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1;
    backface-visibility: hidden;
}

.row-ext {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.map-img-ext {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}

.card-no-ext {
    font-size: 35px;
    margin-top: 20px;
}

.card-holder-ext {
    font-size: 12px;
}

.name-ext {
    font-size: 18px;
    margin-bottom: 20px;
}

.bar-ext {
    background: #222;
    margin-left: -30px;
    margin-right: -30px;
    height: 60px;
}

.card-cvv-ext {
    margin-top: 10px;
}

.card-cvv-ext div {
    flex: 1;
}

.card-cvv-ext img {
    width: 100%;
    display: block;
    line-height: 0;
}

.card-cvv-ext p {
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 4px 10px;
    margin-top: 1rem;

}

.card-text-ext {
    font-size: 14px;
}

.back-ext {
    transform: rotateY(180deg);
}

.card-ext:hover .card-inner-ext {
    transform: rotateY(-180deg);
}

@media screen and (max-width: 409px) {
    .title-card  {
        font-size: 1.3rem;
    } 
    .h2-card {
        font-size: 1.1rem;
    }
    .button-card{
        font-size: 0.9rem !important;
    }
    .container-img-body{
        flex-direction: column;
    }
    .image-card-me{
        height: 8rem !important;
        width: 5rem !important;
        object-fit: cover;
    }
    .nav-footer {
        gap: 2rem;
    }
}

@media screen and (max-width: 575px) {
    .image-card-me {
        width: 10rem;
        height: 10rem;
    }

    .card-ext {
        width: 350px;
        height: 200px;
    }

    .card-no-ext {
        font-size: 20px;
        margin-bottom: -15px;
    }

    .card-holder-ext {
        font-size: 10px;
    }

    .name-ext {
        font-size: 15px;
    }

    .card-text-ext {
        font-size: 10px;
        margin-bottom: -1rem;
    }

    .card-cvv-ext p {
        font-size: 15px;
        padding: 4px 10px;
        margin-top: 1rem;
    }

    .bar-ext {
        height: 40px;
    }

    .nav-footer {
        flex-direction: column;
        gap: 2rem;
    }
    .img-create-card{
        height: 16rem !important;
    }
}

@media screen and (min-width: 600px) {
    .nav-burger {
        display: none !important;
    }
}

@media screen and (max-width: 600px) {
    .nav-general {
        display: none !important
    }

    .carous-img {
        height: 12rem;
        object-fit: cover;
    }
}